nav {
    background-color: #FF6262;
    
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.white-logo {
    max-width: 40px;
}

.timer {
    display: flex;
    align-items: flex-end;
}
