.instructions{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.instruction-steps {
    font-size: 20px;
    background: #edeaea;
    height: 70% ;
    color: rgb(92, 98, 135);
    font-weight: 400;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;;
    /* text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px; */
    margin-bottom: 15px;
    border-radius: 12px;
    width: 70%
  }

  li {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
