.logout-button {
  display: flex;
  align-items: center;
  height: 25px;
  background: #FF6262;
  box-sizing: border-box;
  color: #fff;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-weight: 700;
  line-height: 2px;
  text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
  margin-left: 15px;
  border-radius: 12px;
}

.login-button {
  height: 25px;
  background: #FF6262;
  box-sizing: border-box;
  color: #fff;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-weight: 700;
  line-height: 2px;
  text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
  margin-left: 15px;
  border-radius: 12px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin-bottom: 20px;
  height: 25px;
  border: 2px solid #FF6262;
}

.login-title {
  font-size: 35px;
  margin-bottom: 44px;
  color: #FF6262;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-weight: 700;
  line-height: 3px;
  text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
}

.register-title {
  font-size: 35px;
  margin-bottom: 44px;
  color: #FF6262;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-weight: 700;
  line-height: 3px;
  text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
}

.hyper-link {
  padding-top: 35px;
  color: #FF6262;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
}

.profile-list {
  font-size: 20px;
  background: white;
  height: 70% ;
  border-top-style: solid;
  border-bottom-style: solid ;
  border-left-style: solid ;
  border-right-style: solid;
  border-width: 2px;
  border-color:#736868 ;
  color: rgb(10, 10, 11);
  font-weight: 250;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;;
  /* text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px; */
  margin-bottom: 15px;
  margin-top: 30px;
  border-radius: 12px;
  width: 70%;
  padding-left: 5px;
}

h4 {
  font-size: 25px;
  color:#3f58c7;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: auto;
}

.profile {
  color: rgb(184, 31, 31);
  margin-top: 3px;
  margin-bottom: 3px;
}

