.vitals{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

.vitals-list {
    font-size: 20px;
    background: white;
    height: 70% ;
    border-top-style: solid;
    border-bottom-style: solid ;
    border-left-style: solid ;
    border-right-style: solid;
    border-width: 2px;
    border-color:#FF6262 ;
    color: rgb(10, 10, 11);
    font-weight: 400;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;;
    /* text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px; */
    margin-bottom: 15px;
    margin-top: 0;
    border-radius: 12px;
    width: 70%
  }

  h2 {
    font-size: 37px;
    text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
    color:#FF6262;
    border-bottom: solid;
    margin-bottom: 10px;
  }

  p {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
